In [1]:
# Regular Funcs
import os
import cv2
import glob
import shutil
import random

import pandas as pd
import pathlib
import numpy as np
import matplotlib.pyplot as plt
from PIL import Image as ImagePIL
import plotly.express as px
import plotly.graph_objects as go

from numpy.random import randint
from sklearn.model_selection import train_test_split

In [2]:
# Statistics
from scipy import stats
from scipy import integrate

In [3]:
# Custom Funcs
from Unpack_Scaffold_Data import readAndOutputDataset, curveVisualization

In [4]:
# Here we use CT-GAN
from ctgan import CTGAN

/Users/zacharyg/miniconda3/envs/research/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Data Read Utility [Deprecated]

In [5]:
# curve_path = "/Users/zacharyg/Documents/GitHub/fundemental-neural-nets/GANS/Scaffold_GAN/scaffold_dataset_WU_LAB/Prints"
modulus_path = "/Users/zacharyg/Documents/GitHub/fundemental-neural-nets/GANS/Scaffold_GAN/scaffold_dataset_WU_LAB/Prints/modulus_data_types.csv"

In [7]:
# X, y, y_df, file_order = readAndOutputDataset(curve_path, modulus_path, reverse=True);

In [8]:
# # Sanity Check
# X = X[:675]
# print("X SHAPE:", X.shape);
# print("y SHAPE:", y.shape);
# print()

# Data Read Utility

In [9]:
df = pd.read_csv(modulus_path)

In [11]:
df.dtypes

#                int64
Spacing        float64
Infill           int64
Height         float64
Speed            int64
Temperature      int64
Mass           float64
Porosity       float64
modulus        float64
energy         float64
dtype: object

In [10]:
df

,#,Spacing,Infill,Height,Speed,Temperature,Mass,Porosity,modulus,energy
0,1,0.8,1,0.1,30,190,0.394,0.6848,352.618,6.508
1,2,0.9,1,0.1,30,190,0.334,0.7328,293.703,4.389
2,3,1.0,1,0.1,30,190,0.308,0.7536,289.218,2.777
3,4,1.1,1,0.1,30,190,0.286,0.7712,250.046,2.426
4,5,1.2,1,0.1,30,190,0.259,0.7928,220.376,2.489
...,...,...,...,...,...,...,...,...,...,...
670,671,0.8,3,0.2,50,230,0.428,0.6576,140.994,6.091
671,672,0.9,3,0.2,50,230,0.341,0.7272,82.783,3.632
672,673,1.0,3,0.2,50,230,0.290,0.7680,45.778,2.649
673,674,1.1,3,0.2,50,230,0.292,0.7664,65.640,2.521
674,675,1.2,3,0.2,50,230,0.244,0.8048,30.309,1.471

# Data Cleaning & Split by Infill

In [12]:
df = df.drop(columns={'#'})

In [13]:
df

,Spacing,Infill,Height,Speed,Temperature,Mass,Porosity,modulus,energy
0,0.8,1,0.1,30,190,0.394,0.6848,352.618,6.508
1,0.9,1,0.1,30,190,0.334,0.7328,293.703,4.389
2,1.0,1,0.1,30,190,0.308,0.7536,289.218,2.777
3,1.1,1,0.1,30,190,0.286,0.7712,250.046,2.426
4,1.2,1,0.1,30,190,0.259,0.7928,220.376,2.489
...,...,...,...,...,...,...,...,...,...
670,0.8,3,0.2,50,230,0.428,0.6576,140.994,6.091
671,0.9,3,0.2,50,230,0.341,0.7272,82.783,3.632
672,1.0,3,0.2,50,230,0.290,0.7680,45.778,2.649
673,1.1,3,0.2,50,230,0.292,0.7664,65.640,2.521
674,1.2,3,0.2,50,230,0.244,0.8048,30.309,1.471

In [28]:
Line_Data = df[df['Infill'] == 1]
Cubic_Data = df[df['Infill'] == 2]
Gyroid_Data = df[df['Infill'] == 3]

In [47]:
print(Line_Data)

     Spacing  Infill  Height  Speed  Temperature   Mass  Porosity  modulus  \
0        0.8       1     0.1     30          190  0.394    0.6848  352.618
1        0.9       1     0.1     30          190  0.334    0.7328  293.703
2        1.0       1     0.1     30          190  0.308    0.7536  289.218
3        1.1       1     0.1     30          190  0.286    0.7712  250.046
4        1.2       1     0.1     30          190  0.259    0.7928  220.376
..       ...     ...     ...    ...          ...    ...       ...      ...
660      0.8       1     0.2     50          230  0.411    0.6712  189.363
661      0.9       1     0.2     50          230  0.340    0.7280  145.936
662      1.0       1     0.2     50          230  0.323    0.7416  190.453
663      1.1       1     0.2     50          230  0.292    0.7664  116.739
664      1.2       1     0.2     50          230  0.259    0.7928   85.371

     energy
0     6.508
1     4.389
2     2.777
3     2.426
4     2.489
..      ...
660   4.916
661   2.784
662   2.834
663   1.923
664   1.391

[225 rows x 9 columns]

# Data Division based on Infill Type

In [38]:
def organizeParameters(df):
    """
    Desc
    """
    Spacing = df['Spacing'].to_numpy().reshape((-1, 1));
    Height = df['Height'].to_numpy().reshape((-1, 1));
    Speed = df['Speed'].to_numpy().reshape((-1, 1));
    Temp = df['Temperature'].to_numpy().reshape((-1, 1));
    Porosity = df['Porosity'].to_numpy().reshape((-1, 1));
    Modulus = df['modulus'].to_numpy().reshape((-1, 1));
    
    cut_params = np.concatenate((
        Spacing, 
        Height,
        Speed,
        Temp,
        Porosity,
        Modulus
    ), axis=1);
    
    return cut_params;


X_Line = organizeParameters(Line_Data);
X_Cubic = organizeParameters(Cubic_Data);
X_Gyroid = organizeParameters(Gyroid_Data);

# Sanity Check
print(X_Line.shape)
print(X_Cubic.shape)
print(X_Gyroid.shape)

(225, 6)
(225, 6)
(225, 6)

In [46]:
print(X_Line)

[[8.00000e-01 1.00000e-01 3.00000e+01 1.90000e+02 6.84800e-01 3.52618e+02]
 [9.00000e-01 1.00000e-01 3.00000e+01 1.90000e+02 7.32800e-01 2.93703e+02]
 [1.00000e+00 1.00000e-01 3.00000e+01 1.90000e+02 7.53600e-01 2.89218e+02]
 ...
 [1.00000e+00 2.00000e-01 5.00000e+01 2.30000e+02 7.41600e-01 1.90453e+02]
 [1.10000e+00 2.00000e-01 5.00000e+01 2.30000e+02 7.66400e-01 1.16739e+02]
 [1.20000e+00 2.00000e-01 5.00000e+01 2.30000e+02 7.92800e-01 8.53710e+01]]

# Plotting Utility

In [40]:
# 675 Stress-Strain Curve Domain
feature_domain_675 = list(range(675 + 1));
feature_domain_675.pop(0) 
feature_domain_675 = np.repeat(feature_domain_675, 4, axis=0) # Changed to 4

In [41]:
feature_domain_8 = list(range(8 + 1));
feature_domain_8.pop(0);
feature_domain_8_rep = list(np.arange(1,9))*675

In [48]:
feature_domain_6 = list(range(6 + 1));
feature_domain_6.pop(0);
feature_domain_6_rep = list(np.arange(1,7))*675

In [49]:
feature_domain_7 = list(range(7 + 1));
feature_domain_7.pop(0);
feature_domain_7_rep = list(np.arange(1,8))*675

In [50]:
feature_domain_5 = list(range(5 + 1));
feature_domain_5.pop(0);
feature_domain_5_rep = list(np.arange(1,6)) * 675

In [51]:
feature_domain_4 = list(range(4 + 1));
feature_domain_4.pop(0);
feature_domain_4_rep = list(np.arange(1,5)) * 675

In [52]:
feature_domain_2 = list(range(2 + 1));
feature_domain_2.pop(0);
feature_domain_2_rep = list(np.arange(1,3)) * 675

# Plotting

$$
d_n = \{\text{Print Spacing}, \text{Print Height}, \text{Print Speed}, \text{Temperature}, \text{Porosity}, \text{Modulus}\}
$$

In [55]:
# Single Lines Chart (DISTRIBUTION)
fig_k = px.line(
    x=feature_domain_6, 
    y=X_Line[200],
    title="Single Parameter Curve",
    labels={"x": "Parameters", "y":"Normalized values (Divided by Max)"}
)

fig_k.show(renderer="browser")


# Multiple Lines Chart (DISTRIBUTION)
fig = go.Figure()

for line in range(len(X_Cubic)):
    data = X_Line[line];
    fig.add_trace(go.Scatter(x=feature_domain_6, y=data))

fig.show(renderer="browser")

# CT-GAN

In [56]:
from ctgan import CTGAN

In [57]:
print(X_Line)
print()
print(f"Cubic Data Shape: {X_Line.shape}")

[[8.00000e-01 1.00000e-01 3.00000e+01 1.90000e+02 6.84800e-01 3.52618e+02]
 [9.00000e-01 1.00000e-01 3.00000e+01 1.90000e+02 7.32800e-01 2.93703e+02]
 [1.00000e+00 1.00000e-01 3.00000e+01 1.90000e+02 7.53600e-01 2.89218e+02]
 ...
 [1.00000e+00 2.00000e-01 5.00000e+01 2.30000e+02 7.41600e-01 1.90453e+02]
 [1.10000e+00 2.00000e-01 5.00000e+01 2.30000e+02 7.66400e-01 1.16739e+02]
 [1.20000e+00 2.00000e-01 5.00000e+01 2.30000e+02 7.92800e-01 8.53710e+01]]

Cubic Data Shape: (225, 6)

In [105]:
ctgan = CTGAN(epochs=3000)
ctgan.fit(X_Line)

In [106]:
n = 10000
synthetic_data = ctgan.sample(n)
fig_k = go.Figure()

for line in range(len(synthetic_data)):
    data = synthetic_data[line];
    fig_k.add_trace(go.Scatter(x=feature_domain_7, y=data))
    
fig_k.show(renderer="browser")
    
print(synthetic_data)

[[  1.01584566   0.09711968  47.20473563 210.4711714    0.81247938
  109.64446467]
 [  0.99676652   0.19636219  30.98799951 208.60043122   0.77598757
  142.57913151]
 [  0.91269227   0.19873429  44.79128152 210.59396678   0.72977478
  206.49374541]
 ...
 [  0.89323216   0.19772272  49.69868665 230.70998219   0.7424008
   87.89866846]
 [  0.85122686   0.09811258  39.7735343  189.02359136   0.76373146
  248.32588235]
 [  1.0952708    0.09807815  49.27103072 189.62038875   0.77127323
  272.29094848]]

In [107]:
Infill_Type = "Line"

In [108]:
result = np.around(synthetic_data, decimals=2)

In [109]:
np.set_printoptions(suppress=True)

In [110]:
print(result)

[[  1.02   0.1   47.2  210.47   0.81 109.64]
 [  1.     0.2   30.99 208.6    0.78 142.58]
 [  0.91   0.2   44.79 210.59   0.73 206.49]
 ...
 [  0.89   0.2   49.7  230.71   0.74  87.9 ]
 [  0.85   0.1   39.77 189.02   0.76 248.33]
 [  1.1    0.1   49.27 189.62   0.77 272.29]]

$$
d_n = \{\text{Print Spacing}, \text{Print Height}, \text{Print Speed}, \text{Temperature}, \text{Porosity}, \text{Modulus}\}
$$

In [111]:
data = {
    'Line_Distance': result.T[0],
    'Line_Height': result.T[1],
    'Print_Speed': result.T[2],
    'Print_Temperature': result.T[3],
    'Porosity' : result.T[4],
    'Modulus' : result.T[5],
    'Infill_Type': [f"{Infill_Type}"] * n
}

df = pd.DataFrame(data)

df

,Line_Distance,Line_Height,Print_Speed,Print_Temperature,Porosity,Modulus,Infill_Type
0,1.02,0.10,47.20,210.47,0.81,109.64,Line
1,1.00,0.20,30.99,208.60,0.78,142.58,Line
2,0.91,0.20,44.79,210.59,0.73,206.49,Line
3,1.00,0.19,45.58,232.04,0.75,110.84,Line
4,1.15,0.19,50.12,209.71,0.84,109.40,Line
...,...,...,...,...,...,...,...
9995,1.15,0.20,49.96,230.97,0.74,119.67,Line
9996,1.19,0.20,30.37,230.38,0.79,55.79,Line
9997,0.89,0.20,49.70,230.71,0.74,87.90,Line
9998,0.85,0.10,39.77,189.02,0.76,248.33,Line
9999,1.10,0.10,49.27,189.62,0.77,272.29,Line

In [112]:
df.to_csv(f"/Users/zacharyg/Documents/GitHub/fundemental-neural-nets/GANS/Scaffold_GAN/Synthetic_Data/{Infill_Type}.csv")